<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrmBenchmark.Linq2Sql.Properties.Settings.D__GITHUB_CS_ORM_ORMBENCHMARK_ORMBENCHMARK_CONSOLE_BIN_DEBUG_ORMBENCHMARK_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D:\GITHUB\CS\ORM\ORMBENCHMARK\ORMBENCHMARK.CONSOLE\BIN\DEBUG\ORMBENCHMARK.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>